<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
 <name replace-wildcards="yes">Camera Stream on %h</name>
 <service>
   <type>_http._tcp</type>
   <port>80</port>
   <host-name>camera.octoprint.local</host-name>
   <txt-record>path=/stream</txt-record>
   <txt-record>description=Webcam Stream</txt-record>
   <txt-record>service=camera</txt-record>
 </service>
</service-group>